# for reference: https://github.com/CppCXY/EmmyLuaCodeStyle/blob/master/lua.template.editorconfig

[*.lua]
align_continuous_inline_comment = false
continuation_indent = 2
indent_style = space
max_line_length = 100
quote_style = double
table_separator_style = comma
trailing_table_separator = always
